a:link{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

nav ul li{
	display: inline;
	font-family: 'Asap', sans-serif;
	font-size: 15px;
	padding-left: 15px;
	padding-right: 15px;
	color: black;
}

nav ul{
	margin-top: 25px;
	font-weight: bold;
	padding-top: 20px;
}

form li{
	list-style: none;
	text-align: center;
	font-size: 17px;
}

form li h3{
	font-family: 'Bitter', sans-serif;
	opacity: 0.87
}

footer ul{
	list-style: none;
}

footer ul li{
	padding-top: 5px;
	padding-bottom: 5px;
}

.grid_4 h5,
footer li a{
	color: black;
}

.top{
	position: fixed;
	z-index: 100;
	background-color: white;
}

.header{
	margin-left: 200px;
}

.logo{
	padding-top: 10px;
}

.image{
	padding-top: 80px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.service_testimonial{
	background-color: #f5f5f5;
}

.grid_8 dd{
	font-weight: bold;
}

.grid_4 a{
	color: black;
}

.grid_8 dt a{
	text-decoration: underline;
	color: black;
}

.photo{
	width: 260px;
	height: 200px;
}

.form{
	background-color: grey;
}

.font{
	font-family: 'Crete Round', serif;
}

.footer{
	background-color: #e0e0e0;
}


